#root {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.app {
  padding: 70px 20px 0;
  font-family: "Poppins", sans-serif;
  margin: auto;
  place-self: center;
  display: grid;
  gap: 10px;
  place-content: center;
}

.img-container {
  width: 350px;
  margin: auto;
}
.img-container img {
  width: 100%;
}

.question {
  text-align: center;
  display: grid;
  gap: 10px;
}

.buttons {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}
.buttons button {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 25%;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 4px 5px 2px grey;
}
.buttons button:hover {
  cursor: pointer;
  translate: 0 -8%;
  transition: all 0.2s;
}

.yes {
  background-color: #03a903;
}
.yes:hover {
  background-color: #039003;
}

.no {
  background-color: #d50f0f;
}
.no:hover {
  background-color: #bd0d0d;
}

.disappear {
  display: none;
}